{
  "formatVersion": 1,
  "socksProxyPort": 10808,
  "httpProxyPort": 10809,
  "clientPlatform": "Windows_10.0.26200_11",
  "clientVersion": "187",
  "dataRootDirectory": "/usr/bin/psiphon_data",
  "egressRegion": "ALL",
  "propagationChannelId": "0000000000000000",
  "sponsorId": "0000000000000000",
  "serverEntrySignaturePublicKey": "sHuUVTWaRyh5pZwy4UguSgkwmBe0EHtJJkoF5WrxmvA=",
  "useIndistinguishableTLS": true,
  "tunnelPoolSize": 6,
  "splitTunnel": false
}